<%= simple_form_for @form, :html => {:class => 'form-horizontal'} do |f| %>
<!-- 	<p>
		<%= f.label :Medical_Centre_Name %><br>
		<%= f.text_field :Medical_Centre_Name %><br>
	</p>	 -->

	<%= f.input :Medical_Centre_Name %>

	<p>
		<%= f.submit %>
	</p>
<% end %>