<p id="notice"><%= notice %></p>

<p>
  <strong>Centre:</strong>
  <%= @centre.centre_id %>
</p>

<p>
  <strong>Centre name:</strong>
  <%= @centre.centre_name %>
</p>

<p>
  <strong>Address street:</strong>
  <%= @centre.address_street %>
</p>

<p>
  <strong>Address suburb:</strong>
  <%= @centre.address_suburb %>
</p>

<p>
  <strong>Address postcode:</strong>
  <%= @centre.address_postcode %>
</p>

<p>
  <strong>Address state:</strong>
  <%= @centre.Address_state %>
</p>

<p>
  <strong>Operation days:</strong>
  <%= @centre.operation_days %>
</p>

<p>
  <strong>External rating:</strong>
  <%= @centre.external_rating %>
</p>

<p>
  <strong>Internal rating:</strong>
  <%= @centre.internal_rating %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @centre.property_type %>
</p>

<p>
  <strong>Practitioner no:</strong>
  <%= @centre.practitioner_no %>
</p>

<p>
  <strong>Admin no:</strong>
  <%= @centre.admin_no %>
</p>

<p>
  <strong>Nursing no:</strong>
  <%= @centre.nursing_no %>
</p>

<p>
  <strong>Specialist no:</strong>
  <%= @centre.specialist_no %>
</p>

<p>
  <strong>Rental dietician:</strong>
  <%= @centre.rental_dietician %>
</p>

<p>
  <strong>Rental dentist:</strong>
  <%= @centre.rental_dentist %>
</p>

<p>
  <strong>Rental physio:</strong>
  <%= @centre.rental_physio %>
</p>

<p>
  <strong>Rental hearing:</strong>
  <%= @centre.rental_hearing %>
</p>

<p>
  <strong>Revenue practice:</strong>
  <%= @centre.revenue_practice %>
</p>

<p>
  <strong>Revenue medicare:</strong>
  <%= @centre.revenue_medicare %>
</p>

<p>
  <strong>Revenue thirdparty:</strong>
  <%= @centre.revenue_thirdparty %>
</p>

<p>
  <strong>Revenue alliedhealth:</strong>
  <%= @centre.revenue_alliedhealth %>
</p>

<p>
  <strong>Rental pathology:</strong>
  <%= @centre.rental_pathology %>
</p>

<p>
  <strong>Profit beforetax:</strong>
  <%= @centre.profit_beforetax %>
</p>

<p>
  <strong>Offer amount:</strong>
  <%= @centre.offer_amount %>
</p>

<p>
  <strong>Pathology provider name:</strong>
  <%= @centre.pathology_provider_Name %>
</p>

<p>
  <strong>Radiology provider name:</strong>
  <%= @centre.radiology_provider_name %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @centre.doctor_id %>
</p>

<p>
  <strong>Property ownership:</strong>
  <%= @centre.property_ownership %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @centre.contact_id %>
</p>

<p>
  <strong>Accountant:</strong>
  <%= @centre.accountant_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @centre.address_id %>
</p>

<p>
  <strong>Software name:</strong>
  <%= @centre.software_name %>
</p>

<p>
  <strong>Contact title:</strong>
  <%= @centre.contact_title %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @centre.contact_name %>
</p>

<p>
  <strong>Contact position:</strong>
  <%= @centre.contact_position %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @centre.contact_email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @centre.phone_number %>
</p>

<p>
  <strong>Contact type:</strong>
  <%= @centre.contact_type %>
</p>

<p>
  <strong>Centre:</strong>
  <%= @centre.centre_id %>
</p>

<p>
  <strong>Centre:</strong>
  <%= @centre.centre_id %>
</p>

<p>
  <strong>Doctor name:</strong>
  <%= @centre.doctor_name %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @centre.hourly_rate %>
</p>

<p>
  <strong>Service year:</strong>
  <%= @centre.service_year %>
</p>

<p>
  <strong>Plan year:</strong>
  <%= @centre.plan_year %>
</p>

<p>
  <strong>Doctor contract:</strong>
  <%= @centre.doctor_contract %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @centre.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @centre.end_date %>
</p>

<%= link_to 'Edit', edit_centre_path(@centre) %> |
<%= link_to 'Back', centres_path %>
